body{

    background-color: whitesmoke;
    color: whitesmoke; 
}

#titleFormat{
    text-align: center;
    color:#AF33FF; /*  c0fdff */

    background-color: whitesmoke;
}
div{
    background-color: whitesmoke ;  /* d8bbff */
    border-radius: 50%;
    background:d0d1ff;
    padding: 250px;

}
.book1{
position: absolute;
width: 402px;
height: 1686;
bottom: 1333px;
left: 0px;
background: #247B7B;


}
.book2{
    position: absolute;
    width: 332px;
    height: 1353px;
    bottom: 1333px;
    left: 402px;
    background: #ACF7C1; 
}
.book3{
    position: absolute;
     width: 352px;
     height: 1483;
     bottom: 1333px;
     left: 734px; 
   background: #A657AE; 
    
}
.book4{
    position: absolute;
    width: 352px;
    height: 1403;
    bottom: 1333px;
    left: 1086px;
    background: #B6DCFE;
}
.book5{
    position: absolute;
    width: 302px;
    height: 1346.75;
    bottom: 1333px;
    left: 1588px;
    background: #F7D4BC;
    transform: rotate(-14.54deg); 
}
.big-button{
    background-color: #FF74D4;
    border: none;
    border-radius: 50%;
    color: white;
    padding: 110px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 40px;
    margin: 4px 2px; 
    position: absolute;
    
}
.button {
    background-color:#2C6E49;/*#FFB8DE */
    border: none;
    border-radius: 50%;
    color: white;
    padding: 120px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
  }